$button-padding: 0.33rem;
$edit-button-width: 80%;
$button-color: $grey-darker;
$button-hover-color: $grey-lighter;
$button-bg-color: $theme-green;
$button-hover-bg-color: $theme-orange;
$button-radius: $radius-s;
$edit-buttons-margin-vertical: $margin-m;
$modal-button-margin-vertical: $margin-m;
$modal-button-margin-horizontal: $margin-m;
$button-min-width: $button-width;
$submit-button-width: $button-width-xl;
$submit-button-height: $button-height-xl;
$delete-button-width: $button-width-l;

button {
  color: $button-color;
  background: $button-bg-color;
  border: 1px solid $border-color;
  border-radius: $button-radius;
  padding: $button-padding;
  min-width: $button-min-width;
}

.submit-button {
  width: $submit-button-width;
  height: $submit-button-height;
}

.submit-button h5 {
  color: $button-color;
}

.submit-button:hover h5 {
  color: $button-hover-color;
}

.delete {
  color: $theme-white-text;
  background-color: $theme-red;
}

.delete:hover {
  color: $theme-red;
  background-color: $theme-white-text;
}

.delete:focus {
  color: $theme-red;
  background-color: $theme-white-text;
}

.edit-buttons {
  margin: $edit-buttons-margin-vertical 0 $edit-buttons-margin-vertical 0;
  width: $edit-button-width;
}

.modal-button {
  width: $delete-button-width;
  margin: $modal-button-margin-vertical $modal-button-margin-horizontal;
}

@media only screen and (min-width: 64em) {
  .edit-buttons {
    margin: 0;
  }
}

button:focus {
  color: white;
  background: $button-bg-color;
}

button:hover {
  color: $button-hover-color;
  background: $button-hover-bg-color;
}
