$input-color: $grey-darker;
$input-radius: $radius-s;
$input-margin-top: $margin-xxs;
$input-padding: $padding-s;
$label-margin-top: $margin-m;
$button-margin-top: $margin-m;

.form-container {
  margin: $vertical-gutter auto;
  max-width: 95vw;
}

@media only screen and (min-width: 64em) {
  .form-container {
    max-width: 33vw;
  }
}

input {
  border: 1px solid $border-color;
  border-radius: $input-radius;
  color: $input-color;
  width: 100%;
  display: block;
  box-sizing: border-box;
  padding: $input-padding;
}

label {
  display: block;
  text-align: left;
  margin-top: $label-margin-top;
}

label > span {
  font-weight: bold;
}
span.required {
  color: $red;
}

form button {
  margin-top: $button-margin-top;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: $input-color;
  transition: background-color 5000s ease-in-out 0s;
}
