$input-color: $grey-darker;
$input-radius: $radius-s;
$input-margin-top: $margin-xxs;
$input-padding: $padding-s;
$label-margin-top: $margin-m;
$button-margin-top: $margin-m;

$input-error-bg-color: $theme-input-error;
$input-error-border-color: $theme-red;


input, textarea {
  border: 1px solid $border-color;
  border-radius: $input-radius;
  color: $input-color;
  width: 100%;
  display: block;
  box-sizing: border-box;
  padding: $input-padding;
}

.input-error{
  border: 1px solid $input-error-border-color;
  background-color: $input-error-bg-color;
}

.input-error:focus{
  border: 1px solid $border-color;
  background-color: white;
}

input:focus, textarea:focus{
  outline-style: auto; 
  outline-color: $theme-orange;
}

label {
  display: block;
  text-align: left;
  margin-top: $label-margin-top;
}

label > span {
  font-weight: bold;
}
span.required {
  color: $red;
}

form button {
  margin-top: $button-margin-top;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: $input-color;
  transition: background-color 5000s ease-in-out 0s;
}
