@import "./flexboxgrid.min.scss";
@import "./normalize.scss";
@import "./variables.scss";
@import "./button.scss";
@import "./nav-bar.scss";
@import "./navlink.scss";
@import "./segment.scss";
@import "./form.scss";
@import "./recipe-card.scss";
@import "./header.scss";
@import "./spacer";
@import "./titlebox.scss";
@import "./recipe-details.scss";
@import "./recipes.scss";
@import "./new-recipe.scss";

@font-face {
  font-family: "Bell";
  src: url("./fonts/BELL.ttf");
}

*:not(i){
  -o-transition: $default-transition-time;
  -ms-transition: $default-transition-time;
  -moz-transition: $default-transition-time;
  -webkit-transition: $default-transition-time;
  transition: $default-transition-time;
}

*:not(i) {
  font-family: "BellItalic";
}

body {
  text-align: center;
}
.row {
  margin-left: 0;
  margin-right: 0;
}
.col-xs-mini {
  flex-basis: 4%;
  max-width: 4%;
}

.col-md-mini {
  flex-basis: 4%;
  max-width: 4%;
}

.flex-center {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  overflow-wrap: break-word;
}

.evenly-spaced-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.content {
  min-height: 100vh;
  background-color: $bg-color;
  padding-bottom: 1rem;
}

div {
  display: block;
  // border: 0.5px solid red;
}

.left-align {
  text-align: left;
}

.right-align {
  text-align: right;
}

.center {
  text-align: center;
}

.mobile-center {
  text-align: center;
}

:focus {
  outline-color: transparent;
  outline-style: none;
}

@media only screen and (min-width: 64em) {
  .nav-item-spacer {
    display: block;
  }

  .nav-login {
    order: 1;
  }
}
