@import "./flexboxgrid.min.scss";
@import "./normalize.scss";
@import "./variables.scss";
@import "./button.scss";
@import "./nav-bar.scss";
@import "./navlink.scss";
@import "./segment.scss";
@import "./form.scss";
@import "./recipe-card.scss";
@import "./header.scss";
@import "./spacer";
@import "./titlebox.scss";
@import "./recipe-details.scss";

@font-face {
  font-family: "Bell";
  src: url("./fonts/BELL.ttf");
}

*:not(i) {
  font-family: "BellItalic";
}

body {
  text-align: center;
}

.col-xs-mini {
  flex-basis: 4%;
  max-width: 4%;
}

.col-md-mini{
  flex-basis:4%;
  max-width: 4%;
}

.content {
  min-height: 100vh;
  background-color: $bg-color;
}

div {
  display: block;
  // border: 0.5px solid red;
}

.left-align {
  text-align: left;
}

.right-align {
  text-align: right;
}

:focus {
  outline-color: transparent;
  outline-style: none;
}

@media only screen and (min-width: 64em) {
  .nav-item-spacer {
    display: block;
  }

  .nav-login {
    order: 1;
  }
}
