@import "./flexboxgrid.min.scss";
@import "./normalize.scss";
@import "./variables.scss";
@import "./button.scss";
@import "./nav-bar.scss";
@import "./navlink.scss";
@import "./segment.scss";
@import "./form.scss";
@import "./recipe-card.scss";
@import "./header.scss";
@import "./spacer";
@import "./titlebox.scss";
@import "./recipe-details.scss";
@import "./recipes.scss";
@import "./new-recipe.scss";
@import "./delete-modal.scss";

@font-face {font-family: "Bell MT Regular";
  src: url("./fonts/01661f50354ecd0a3560ac450ecf43d3.eot"); /* IE9*/
  src: url("./fonts/01661f50354ecd0a3560ac450ecf43d3.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("./fonts/01661f50354ecd0a3560ac450ecf43d3.woff2") format("woff2"), /* chrome、firefox */
  url("./fonts/01661f50354ecd0a3560ac450ecf43d3.woff") format("woff"), /* chrome、firefox */
  url("./fonts/01661f50354ecd0a3560ac450ecf43d3.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("./fonts/01661f50354ecd0a3560ac450ecf43d3.svg#Bell MT Regular") format("svg"); /* iOS 4.1- */
}

*:not(i) {
  -o-transition: $default-transition-time;
  -ms-transition: $default-transition-time;
  -moz-transition: $default-transition-time;
  -webkit-transition: $default-transition-time;
  transition: $default-transition-time;
}

*:not(i) {
  font-family: "Bell Mt Regular";
}

body {
  text-align: center;
}
.row {
  margin-left: 0;
  margin-right: 0;
}
.col-xs-mini {
  flex-basis: 5%;
  max-width: 5%;
}


.flex-center {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  overflow-wrap: break-word;
}

.evenly-spaced-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.content {
  min-height: 100vh;
  background-color: $bg-color;
  padding-bottom: 1rem;
}

.blurred {
  filter: blur(5px);
}

div {
  display: block;
  // border: 0.5px solid red;
}

.left-align {
  text-align: left;
}

.right-align {
  text-align: right;
}

.center {
  text-align: center;
}

.mobile-center {
  text-align: center;
}

:focus {
  outline-color: transparent;
  outline-style: none;
}

@media only screen and (max-width: 48em) {
  .no-padding-mobile{
    padding: 0;
  }
}

@media only screen and (min-width: 64em) {
  .col-md-mini {
    flex-basis: 2%;
    max-width: 2%;
  }
  
  .nav-item-spacer {
    display: block;
  }

  .nav-login {
    order: 1;
  }
}
