$link-active-color: $orange-theme;
$link-hover-color: $orange-theme;
$link-color: $grey-darker;

.navlink-active {
  color: $link-active-color;
}

a {
  color: $link-color;
  text-decoration: none;
}

a:hover {
  color:$link-hover-color;
}

a {
    -o-transition: $link-transition-time;
    -ms-transition: $link-transition-time;
    -moz-transition: $link-transition-time;
    -webkit-transition: $link-transition-time;
    transition: $link-transition-time;
  }