$image-border-radius: $radius-md;
$image-recipe-detail: $image-width;
$image-width-mobile: $img-width-small;

.img-recipe-detail {
  width: $image-recipe-detail;
}

.direction-item{
  min-height: 2rem;
}

.underlined{
  padding-bottom: $padding-s;
  padding-top: $padding-s;
  border-bottom:1px dashed black;
}

.underlined:first-child{
  border-top: 1px dashed black;
}

.recipe-detail-container img {
  border-radius: $image-border-radius;
}

@media only screen and (max-width: 320px) {
  .img-recipe-detail{
    width: $image-width-mobile;
  }
}

@media only screen and (min-width: 64em) {
  .img-recipe-detail {
    width: 100%;
  }

  .left-margin{
    margin-left: $margin-m;
  }
}