$card-margin-bottom: $margin-l;
$h6-padding-top: $padding-s;
$h6-padding-bottom: $padding-s;
$card-border-color: $grey-lighter;
$card-border-color-hover: $theme-orange;
$card-margin-vertical: $margin-l;
$card-height: 25rem;
$card-border-radius: $radius-md;
$card-max-width: $img-width;
$image-width: $img-width;
$image-height: $img-height;

.recipe-card {
  margin-bottom: $card-margin-vertical;
  max-width: $card-max-width;
  border-radius: $card-border-radius;
  border: 2px solid $card-border-color;
  display: inline-block;
}

.recipe-card:hover {
  border: 2px solid $card-border-color-hover;
}

.recipe-card img {
  max-height: $image-height;
  max-width: $image-width;
  border-radius: $card-border-radius;
}

.recipe-card h1 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.recipe-card h2 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}

.recipe-card:hover h2 {
  color: $theme-orange;
}



.recipe-card-details {
  padding: 1rem;
}

.recipe-card-details h6 {
  padding: $h6-padding-top 0 $h6-padding-bottom 0;
  text-align: left;
}

.recipe-card-details .row {
  padding: $padding-m 0 $padding-m 0;
  border-top: 1px solid $theme-green;
  border-bottom: 1px solid $theme-green;
}

.recipe-clock-icon {
  color: $grey-light;
}

.placeholder {
  box-sizing: border-box;
  margin-bottom: $card-margin-vertical;
  width: 300px;
  height: $card-height;
}

.placeholder i {
  color: $theme-green;
}

.placeholder h2 {
  color: $grey;
}

@media only screen and (min-width: 64em) {
  .recipe-card{
    margin:0;
  }

  .placeholder {
    height: 100%;
    margin:0;
  }
}
