$container-color: $white;
$container-margin-horizontal:  $margin-horizontal;
$container-margin-vertical: $margin-vertical;
$container-padding-vertical: $padding-vertical;
$container-radius: $radius-md;



.recipe-container {
    border-radius: $container-radius;
    border: 1px solid $grey-lighter;
    margin: $container-margin-vertical $container-margin-horizontal  0 $container-margin-horizontal;
    padding: $container-padding-vertical;
    background-color: $container-color;
}