.spacer {
    margin-top: $margin-m;
    margin-bottom: $margin-m;
}

.size-l {
    margin-top: $margin-l;
    margin-bottom: $margin-l;
}

.size-m {
    margin-top: $margin-m;
    margin-bottom: $margin-m;
}

.size-s {
    margin-top: $margin-s;
    margin-bottom: $margin-s;
}

.spacer-xs {
    margin-top: $margin-xs;
    margin-bottom: $margin-xs;
}

.spacer-xxs {
    margin-top: $margin-xxs;
    margin-bottom: $margin-xxs;
}