$logo-height: $font-xl;
$logo-height-desktop: $font-xxl;
$logo-padding-horizontal: $padding-xs;

.title-header {
  display: inline-block;
  font-style: italic;
  height: $logo-height;
}

.title-sub-header {
  font-style: italic;
}


.logo {
  display: inline-block;
  vertical-align: bottom;
  height: $logo-height !important;
  padding-right: $logo-padding-horizontal;
}

@media only screen and (min-width: 64em) {
  .title-header {
    font-size: $font-xxl;
    height: $logo-height-desktop;
  }

  .logo {

    line-height: $logo-height-desktop;
    height: $logo-height-desktop !important;
  }
}
