$button-transition-time: 0.2s;
$link-transition-time: 0.2s;

$horizontal-gutter: 2%;
$vertical-gutter: 1%;
$login-color: #303036;
$main-bg-color: #ffffe0;
$input-margin: 1rem;
$segment-radius: 0.5rem;
$ui-element-radius: 0.1rem;
$input-padding: 0.5rem;
$input-margin-top: 0.1rem;
$nav-item-padding: 0.5rem;

$link-color: black;
$link-active-color: #f48f29;
$link-hover-color: $link-active-color;
$link-transition-time: 0.2s;