$default-transition-time: 0.2s;
$image-width: 300px;

$grey-darker: hsl(0, 0%, 21%) !default;
$grey-dark: hsl(0, 0%, 29%) !default;
$grey: hsl(0, 0%, 48%) !default;
$grey-light: hsl(0, 0%, 71%) !default;
$grey-lighter: hsl(0, 0%, 86%) !default;
$white: hsl(0, 0, 100%);
$red: hsl(356, 94%, 53%);
$theme-red: hsl(7, 71%, 47%);
$theme-white-text: hsl(20, 60%, 99%);
$theme-orange: #f48f29;
$theme-green: #b1d8b9;
$bg-color: #ffffe0;
$login-color: $grey-darker;
$border-color: $grey-light;

$img-width: 300px;
$img-height: 300px;

$button-width: 3rem;
$button-width-xl: 8rem;
$button-height-xl: 3.5rem;

$margin-xxl: 8rem;
$margin-xl: 4rem;
$margin-l: 2rem;
$margin-m: 1rem;
$margin-s: 0.5rem;
$margin-xs: 0.33rem;
$margin-xxs: 0.1rem;
$margin-tiny: 0.033rem;

$radius-md: 0.33rem;
$radius-s: 0.1rem;

$padding-xxl: 8rem;
$padding-xl: 4rem;
$padding-l: 2rem;
$padding-m: 1rem;
$padding-s: 0.5rem;
$padding-xs: 0.33rem;
$padding-xxs: 0.1rem;
$padding-tiny: 0.033rem;

$font-xxl: 4rem;
$font-xl: 2rem;
$font-l: 1.66rem;
$font-m: 1.5rem;
$font-s: 1.33rem;
$font-xs: 1.25rem;
$font-xxs: 1rem;